appdirs==1.4.4
certifi==2020.11.8
chardet==3.0.4
conda==4.3.16
distlib==0.3.1
filelock==3.0.12
idna==2.10
pipenv==2020.11.15
pycosat==0.6.3
requests==2.25.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
urllib3==1.26.2
virtualenv==20.1.0
virtualenv-clone==0.5.4
